@import "tailwindcss";

html {
  overflow-x: hidden;
  overscroll-behavior-x: none;
  width: 100%;
}

body {
  overscroll-behavior-x: none;
  width: 100%;
  position: relative;
}

h1, h2, h3 {
  font-family: var(--font-morph), serif;
}

@keyframes spin-slow {
  from { transform: rotate(0deg); }
  to   { transform: rotate(360deg); }
}

@keyframes spin-slow-reverse {
  from { transform: rotate(360deg); }
  to   { transform: rotate(0deg); }
}

